.nav_bar{
    grid-area: nav;
    background-color: bisque;
    opacity: .8;
    height: 100%;
    padding:0 15px 0 15px ;
}
.link{
    margin-top: 15px;
}
.link a.active{
    color: orangered;
}
.link a{
    text-decoration: none;
    color: black;
}
